

*{
    padding:0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* boxed with border around it */
    margin: 10px;

}

/* stylinig of the body */

body{
    background-color: rgb(117, 132, 117);
    margin-right: 40px;
    text-align: center;
    
    

} 
/* styling of game container */

.container{

    background-color: silver;
    border:solid burlywood ;
    width: 90vw;
    height: 80vh;
    max-width: 200em;
    font-size:  15px;
    padding:2em;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 60px;
    text-align:inherit;
    text-align-last: center;
    

}

/* styling ofthw class name-display  */
.name-display{
    margin-top:50px ;
    width: 1300px;
    height:400px;
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding-top: 150px;
    border:solid rgb(145, 53, 20);

}


/* styling of letters class */
.letters{
     margin: 10px;
     margin-right: 1px;
     align-items: center;
     padding-top: 30px;
     padding-right: 30px;
     padding-left :50px; ;
         
    
}

.letterbuttons{
    display: flex;



}
/*styling number of guesses(lives) left */
.guesses-left{
    padding-top: 35px ;
    color:black;
    margin:5px;
}
   
/*styling of New Game button and letter buttons */

button{

    font-size: 1.5em;
    background-color: bisque;
    border:solid black;
    padding: 10px  20px;
    cursor: pointer;
    color: rgb(76, 195, 134);
    text-align: center;
    
    

}
/* syling of disable button */
button:disabled{
    color: orange;
    background-color:brown ;
    
   
  }  


  /*************** RESPONSIVE DISPLAY *******************************/
  /******************************************************************/

@media (max-width: 768px){
     .container {
         flex-direction:column;
         padding:30px 15px;
         align-items: center;
         width:250px;
         height:75vh;
        
     }

     /*  Box where Athletes Name is stored   */  
     .name-display{
        width: 200px;
        height:250px;
        padding:0px;
        margin:5px;
     }



     #letterbuttons .guesses-left{
        width: 5vw;

     }

     /*  ABC letters */
     .letters{
        height:55vh ;
    
     }
    /*  'Number of guesses left and Try toguess Athlete' text */
     .guesses-left, h2{
        width: 200px;
        font-size: 15px; 

     }
    /* buttons and letters inside buttons */
    #letterbuttons, button  {
        width:10vw;
        height:3vh;
        font-size:10px ;
        padding:5px ;
        margin: 5px; 
        
    } 
    
    /* letters and underscores inside name-display */
     span {
    margin: 2px; 

}

   
    }
        
        

        

    




