*{
    padding: 0;
    margin:0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin:10px ;
}
body{
    background-color: rgb(162, 200, 200);
} */

.container{
    background-color: silver;
    border:solid burlywood ;
    width: 100vw;
    height: 80vh;
    max-width: 200em;
    font-size:  15px;
    padding:2em;
    display: flex;
    justify-content: center;
    margin: 10px;
    
   /** position:absolute; 
    transform: translate(-50% -50%);
    top:50%;
    left:50%;*/

}

.word-div{
    width: 1300px;
    height:400px;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 10px;
    border:solid orangered

}

.hint-div{
border: solid black;
margin: 10px;
}

.hidden-notification{
    border: solid green;
    margin:20px;
    width:550px;
    height:150px; ;
    
}

.notification-span{
    border: solid blue;
    width:00px;
    height: 00px;;

}

.new-game-button{
    font-size: 1.3em;
    background-color: bisque;
    border: black;
    padding: 0.5em 1em;
    cursor: pointer;
    color: rgb(69, 215, 139);
    

}


  

